# Environment stuff
venv
.env
__pycache__

# Data stuff
*.gz
*.tar
data
*extracted_frames

# Models
*.pt
*.pth
*.safetensors

# Other scripts
*/test.py
*ultralytics

*jepa
*my_awesome_model
*video_classification_frozen
*__pycache__/
*.tar
*my_awesome_model_more_balanced
